@import "compass/css3";

#content.discovery-module .search-module {
    width: 200px;
    background-image: image-url('discovery/search-module/bg.png');
    left: 0px;
    .search-query {
        margin: 8px;
        margin-top: 18px;
    }

    .search-tags {
        margin: 8px;
        text-align: center;

        a {
            padding-right: 5px;
            text-decoration: none;
            @include opacity(0.5);

            @include single-text-shadow(#000,1px,1px,0);

            &.selected {
                @include opacity(1);
            }

            &:hover {
                text-decoration: none;
                color: #FFFFFF !important;
            }
        }
    }
}

#content.discovery-module .map-module {
    background: grey;
    left: 200px;
    right: 270px;

    @include single-transition(right, 0.4s, ease-in-out);

    &.expanded {
        right: 0px;
    }

    .search-input {
        position: absolute;
        top: 18px;
        left: 5px;
        z-index: 10;
    }

    .map {
        height: 100%;
        img {
            max-width: none;
        }
    }
}

#content.discovery-module .overview-module {
    background: white;
    right: -270px;
    width: 260px;
    overflow: hidden;
    padding: 5px;

    background-image: image-url('discovery/search-module/bg_right.png');

    @include single-transition(right, 0.4s, ease-in-out);

    color: #FFF;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        padding: 0px;
        float: left;
    }

    &.expanded {
        right: 0;
    }

    .header {
        height: 20px;

        .hide-btn {
            float: left;
        }

        .header-title {
            float: right;
            font-weight: bold;
            font-size: 20px;
         }
    }

    .top-contributions {
        margin: 10px 0;

        .thumbnail {
            width: 45px;
            height: 45px;
            margin-right: 6px;

            img {
                width: 100%;
                height: 100%;
            }

            &:last-child {
                margin-right: 0px;
            }
        }

        .create-new {
            margin-top: 10px;
            float: right;
        }
    }

    .all-contributions {

        position: absolute;
        top: 110px;
        bottom: 0px;

        overflow: auto;

        border-top: 1px solid #444;
        padding-top: 10px;

        li {
            margin-bottom: 10px;
        }

        .header-title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .left-wrapper {
            float: left;
            width: 45px;

            .thumbnail {
                width: 40px;
                height: 40px;
                padding: 0px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .right-wrapper {
            margin-left: 10px;
            float: left;
            position: relative;
            top: -5px;

            .name {
                display: inline-block;
                font-weight: bold;
                font-size: 12px;
            }

            .contribution-name {
                display: inline-block;
                font-size: 12px;
            }

            .thumbnail {
                width: 60px;
                height: 60px;
                padding: 0px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
         }
    }

    .wrapper {
        position: absolute;
        top: 20px;
        bottom: 5px;
        left: 5px;
        right: 5px;
    }

    .wrapper {
        .loader {
            background-image: image-url('common/loader_white.gif');
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -16px;
            margin-top: -16px;
            opacity: 0;
            @include single-transition(opacity, 0.4s, ease-in-out);
        }

        .content {
            position: absolute;
            top: 0px;
            bottom: 0px;
            opacity: 1;
            @include single-transition(opacity, 0.4s, ease-in-out);
        }

        &.loading {
            .loader {
                opacity: 1;
            }
            .content {
                opacity: 0;
            }
        }
    }
}