@import "compass/css3";

#content.discovery-module .search-module {
    width: 200px;
    background-image: image-url('discovery/search-module/bg.png');
    left: 0px;
    .search-query {
        margin: 8px;
        margin-top: 18px;
    }

    .search-tags {
        margin: 8px;
        text-align: center;

        a {
            padding-right: 5px;
            text-decoration: none;
            @include opacity(0.5);

            @include single-text-shadow(#000,1px,1px,0);

            &.selected {
                @include opacity(1);
            }

            &:hover {
                text-decoration: none;
                color: #FFFFFF !important;
            }
        }
    }
}

#content.discovery-module .map-module {
    background: grey;
    left: 200px;
    right: 250px;

    @include single-transition(right, 0.4s, ease-in-out);

    &.expanded {
        right: 0px;
    }

    .search-input {
        position: absolute;
        top: 18px;
        left: 5px;
        z-index: 10;
    }

    .map {
        height: 100%;
        img {
            max-width: none;
        }
    }
}

#content.discovery-module .overview-module {
    background: white;
    right: -250px;
    width: 240px;
    overflow: hidden;
    padding: 5px;

    @include single-transition(right, 0.4s, ease-in-out);

    &.expanded {
        right: 0;
    }

    .header {
        .hide-btn {
            float: left;
        }

        .header-title {
            float: right;
            font-weight: bold;
            font-size: 20px;
         }
    }

    .top-contributions {
        margin: 10px 0;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        li {
            padding: 0px;
            float: left;
        }

        .thumbnail {
            width: 60px;
            height: 60px;
        }

        .create-new {
            margin-top: 10px;
            float: right;
        }
    }

    .all-contributions {
        border-top: 1px solid #444;
        padding-top: 10px;
        
        .header-title {
            font-weight: bold;
            font-size: 18px;
        }
    }
}