@import "compass/css3";

#footer {
    background-image: image-url('common/header_bg.png');
    @include single-box-shadow(rgba(0, 0, 0, 0.5), 0px, 0px, 15px, 5px, false);
    z-index: 20;
}

#footer .links {
	display: inline;
	position: absolute;
	right: 12px;
	top: 6px;
}

#footer .links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#footer .links ul li {
	float: left;
	padding-left: 10px;

	&:first-child {
		padding-left: 0;
	}
}

#footer .links ul li a {
	font-size: 13px;
	@include single-text-shadow(#000,1px,1px,0);
	text-decoration: none;
	color: #3878C7;
	font-weight: bold;

	&:hover {
		color: #FFFFFF;
	}
}