@import 'compass/css3';

#header {
    background-image: image-url('common/header_bg.png');
    @include single-box-shadow(rgba(0, 0, 0, 0.5), 0px, 0px, 15px, 8px, false);
    z-index: 20;
}

#header .logo {
    width: 268px;
    height: 60px;
//    background-color: #000;
    position: relative;
    top: 3px;
    left: 5px;
    background-image: image-url('common/logo.png');
}

#header .login {
    width: 170px;
    height: 70px;
//    background: purple;
    position: absolute;
    top: 0px;
    right: 18px;

    .login-button {
        width: 87px;
        height: 21px;
        background-image: image-url('common/fblogin.png');
        position: absolute;
        top: 23px;
        right: 0px;
        @include single-box-shadow(rgba(0, 0, 0, 1), 0px, 0px, 5px, 1px, false);
    }
}

#header .time-span {
    position: absolute;
    top: 30px;
    left: 300px;
    right: 200px;
    height: 5px;
}