<div class="header">
    <div class="hide-btn btn btn-mini">Hide</div>
    <div class="header-title">Overview</div>
    <div class="clearfix"></div>
</div>

<div class="wrapper">
    <div class="loader"></div>
    <div class="content">
        <div class="top-contributions"></div>
        <div class="all-contributions">
            <div class="header-title">
                Individual Stories (<span class="nr-contributions">..</span>)
            </div>
            <div class="contributions">
            </div>
        </div>
    </div>
</div>